* {
    margin: 0;
    padding: 0;
 }

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 2px solid #f1f1f1;
    margin-left: 20px;
    padding: 1.2em 0;
}

img {    
    transition: 2s;
   }

img:hover {
    transform: scaleX(1.1);
    transform: scaleY(1.1);
    border-radius: 10%;
          }
 
